.App {
  text-align: center;
  display: flex;
  flex-direction: column;

}
/* telling the react body/root to use the entire page */
body > #root > div {
  height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* place navbar at top always */
.navbar {
  margin-bottom: auto;
}

/* to center form and place at bottom*/
.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-bottom: 5%;
}

/* to set form sizes */
.form {
  width: 80%;
}

.formGroup {
  padding-bottom: 2%;
}

